<div class="row">
  <div class="col text-center">
    <h1 class='mt-5'>There has been an issue - perhaps an account with this email address already exists?</h1>
    <p><a href="/" class="btn btn-primary">Back to Home</a></p>
  </div>
</div>