<h1>RSVP for <%= @event[:title] %></h1>

<form action="/events/<%= @event[:id] %>/rsvps/create" method="post">
<div class="form-group">
    <label>Are you going?</label>
    <select class="form-control" name="going">
      <option value="1">Yes</option>
      <option value="0">No</option>
    </select>
</div>
<div class="form-group">
    <label>Phone Number</label>
    <textarea class="form-control" rows="1" name="phone"></textarea>
</div>
<div class="form-group">
    <label>Dietary Restrictions (if applicable)?</label>
    <textarea class="form-control" rows="1" name="dietary_restrictions"></textarea>
</div>
<div class="form-group">
    <label>Additional Questions / Comments?</label>
    <textarea class="form-control" rows="2" name="questions_comments"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
